*,
::before,
::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}
:root {
    --primary-color: #5d3bee;
}
/* COMMON */
a {
    text-decoration: none;
}
.main-content {
    width: 1330px;
    max-width: calc(100% - 50px);
    margin-left: auto;
    margin-right: auto;
}
.heading {
    font-size: 5.6rem;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -2.24px;
    color: #080415;
}
.heading.special {
    font-size: 8rem;
    line-height: 0.95; /* 95% */
    letter-spacing: -3.2px;
}
.desc {
    color: #51586a;
}
.desc.lv1 {
    margin: 10px 0 20px 0;
    width: 220px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.43;
}
.desc.lv2 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}
.desc.lv3 {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 62px;
    background-color: var(--primary-color);
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.66;
}

/* HEADER */
.header {
    padding-top: 30px;
}
.header__inner ,
.footer__inner {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.email__block {
    display: flex;
    align-items: center;
}
.email__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid #998bf533;
}
.email-text {
    margin-left: 10px;
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
}
.logo__image-wrapper {
    margin-left: 357px;
    margin-right: auto;
}
.navbar__list {
    display: flex;
    align-items: center;
}
.navbar__link {
    padding: 0 22px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
}
/* HERO */
.hero {
    margin-top: 44px;
}
.hero__inner {
    display: flex;
    align-items: center;
}
.hero__media {
    flex: 1;
    position: relative;
}
.hero__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 514px;
    height: 715px;
    object-fit: cover;
}
.hero__content {
    position: relative;
    width: 42%;
    margin-left: auto;
}
.hero__desc {
    width: 370px;
    margin-top: 20px;
}
.cta-group {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.cta-group__link {
    margin-left: 30px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
    text-decoration-line: underline;
}
.social-group {
    margin-top: 109px;
}
.social-group,
.social-group__media {
    display: flex;
    align-items: center;
}
.social-group__text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.87;
    color: #51586a;
}
.social-group__media {
    margin-left: 15px;
    column-gap: 20px;
}
.social-group__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #998bf533;
}
.hero-decor {
    position: absolute;
    display: block;
}
.hero__media-decor {
    top: -80px;
    left: -215px;
}
.hero__content-decor {
    right: -100px;
    bottom: -40px;
}
/* BRAND */
.brand {
    margin-top: 100px;
}
.brand__inner {
    display: flex;
    justify-content: space-between;
}
.brand__content {
    position: relative;
}
.brand__heading::before {
    position: absolute;
    content: "";
    display: inline-block;
    top: 20%;
    left: -22%;
    width: 86px;
    height: 1px;
    background-color: var(--primary-color);
}
.brand__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px 70px;
}
/* SPECIAL */
.special {
    margin-top: 133px;
}
.special__top {
    text-align: center;
}
.special__heading {
    letter-spacing: -0.4px;
}
.special__desc {
    margin-top: 20px;
    width: 534px;
    margin-left: auto;
    margin-right: auto;
}
.special__list {
    margin-top: 60px;
}
.special-item {
    padding: 33px 43px;
}
.special-item__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
.special-item__title {
    margin: 22px 0 15px 0;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -1.28px;
    color: #080415;
}
/* PROJECTS */
.project {
    margin-top: 140px;
    background-color: var(--primary-color);
    padding: 86px 0;
}
.project__inner {
    align-items: flex-end;
    margin-bottom: 100px;
}
.project__heading {
    color: #FFF;
}
.project__desc {
    margin-left: 38px;
    max-width: 370px;
    color: rgba(255, 255, 255, 0.7);
}
.project-item {
    margin-top: 30px;
    padding: 44px 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
}
.project-item__title {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
    color: #080415;
}
.project-item__link {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
    text-decoration-line: underline;
    color: #080415;
}
.project-item__image-wrapper {
    width: 246px;
    height: 187px;
    object-fit: cover;
}
.project__action {
    text-align: center;
}
.project__btn {
    margin-top: 96px;
    font-weight: 700;
    background-color: #FFF;
    color: #080415;
}
/* ABOUT */
.about {
    margin-top: 140px;
}
.about__top {
    text-align: center;
}
.about-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.about-caption__title {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
    color: #5D3BEE;
}
.about-caption__img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.about__heading {
    letter-spacing: -0.4px;
}
.about__desc {
    margin-top: 20px;
    width: 534px;
    margin-left: auto;
    margin-right: auto;
}
.about__rating {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 156px;
}
.about-item__rating {
    display: block;
    font-size: 5.6rem;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: 1.68px;
    text-decoration-line: underline;
    color: #080415;
}
.about-item__desc {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    color: #51586A;
}
.about__media {
    position: relative;
    margin-top: 70px;
}
.about__image-wrapper {
    text-align: center;
    width: 100%;
    height: 628px;
    object-fit: cover;
}
.about__cta {
    position: absolute;
    bottom: 10px;
    right: 70px;
}
.about__btn {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
    text-transform: uppercase;
    background-color: #FFF;
    color: #51586A;
}
.work {
    margin-top: 150px;
}
.work__top {
    text-align: center;
}
.work__heading {
    letter-spacing: -0.4px;
}
.work__desc {
    width: 570px;
   margin: 20px auto 0;
}
.work__list {
    display: flex;
    margin-top: 70px;
    text-align: center;
    overflow: hidden;
}
.work-item {
    flex-shrink: 0;
    width: 100%;
}
.work-item__desc {
    width: 679px;
    margin-left: auto;
    margin-right: auto;
}
.work-item__author {
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}
.work-item__avatar-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.work-item__avatar-wrapper::after {
    position: absolute;
    content: "";
    display: inline-block;
    top: -6px;
    left: -2px;
    width: 110%;
    height: 115%;
    border-radius: inherit;
    background-color: #f29764;
    
}
.work-item__avatar {
    position: relative;
    z-index: 1;
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: inherit;
}
.work-item__name {
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.33;
}
.work-item__title {
    margin-top: 10px;
    color: #51586A;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.81;
}
.work__dots {
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}
.work__dot {
    width: 16px;
    height: 16px;
    border-radius:50%;
    background: #08041533;
}
.work__dot-active {
    width: 12px;
    height: 12px;
    padding: 4px;
    box-sizing: content-box;
    background-clip: content-box;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
/* QUESTION */
.question {
    margin-top: 170px;
}
.question__heading {
    width: 575px;
}
.question__list {
    margin-top: 80px;
}
.question-item {
    margin-top: 60px;
    position: relative;
    max-width: 1009px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px 33px;
}
.question-item:first-child {
    margin-top: 0;
}
.question-item__title {
    font-size: 3.2rem;
    color: #080415;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
    transition: color .5s ease;
}
.question-item__desc {
    margin-top: 23px;
    width: 487px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    color: #51586A;
    display: none;
}
.separate {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    border-radius: 1px;
    background-color: #080415;
    transition: background-color .5s ease;
}
.question-item__add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #d0d1d2;
}
.question-item__minus-wrapper {
    display: none;
}
.question-item__input:checked ~ .question-item__content .question-item__title {
    color: var(--primary-color);
}
.question-item__input:checked ~ .question-item__content .question-item__desc {
    display: block;
}
.question-item__input:checked ~ .question-item__add .question-item__minus-wrapper {
    display: block;
}
.question-item__input:checked ~ .question-item__add .question-item__plus-wrapper {
    display: none;
}
.question-item__input:checked ~ .separate {
    background-color: var(--primary-color);
}
/* ATMOSPHERE */
.atmosphere {
    margin-top: 160px;
}
.atmosphere__top {
    text-align: center;
}
.atmosphere__desc {
    width: 528px;
    margin: 20px auto 30px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    color: #51586A;
}
.atmosphere_link {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
    text-decoration-line: underline;
    color: var(--primary-color);
    margin-bottom: 70px;
}
.atmosphere__img {
    width: 100%;
    height: 529px;
    object-fit: cover;
}
/* ACTION */
.action {
    margin-top: 140px;
}
.action__inner {
    text-align: center;
}
.action__desc {
    margin: 20px auto 20px;
    width: 565px;
}
/* FOOTER */
.footer {
    margin-top: 150px;
}
.footer__inner {
    border-bottom: 1px solid #ccc;
    padding-bottom: 32px;
}
.copy-right {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
.copy-right__desc {
    color: #525771;
}
